[defaults]
# De map waar je playbooks en bestanden staan
inventory = ./inventory
# Voorkom de irritante 'Are you sure you want to connect' vragen
host_key_checking = False
# Maak de output van Ansible leesbaarder (geeft uitvoeringstijden aan)
callbacks_enabled = profile_tasks
# Negeer waarschuwingen over Python-interpreters (Debian 12 gebruikt Python 3)
interpreter_python = auto_silent
# Zorg dat Ansible niet overal .retry bestanden aanmaakt bij een fout
retry_files_enabled = False
# Gebruik de 'C' locale voor snelheid en voorspelbare output
module_lang = C

[privilege_escalation]
# Omdat we veel 'become: yes' gebruiken voor apt en systeeminstellingen
become = True
become_method = sudo
become_ask_pass = True

[ssh_connection]
# Pipelining maakt het uitvoeren van 15 playbooks tot wel 40% sneller
# omdat Ansible meerdere taken in één verbinding propt.
pipelining = True
