baseURL = '{{ base_url }}'
languageCode = '{{ language_code }}'
title = '{{ site_title }}'
theme = '{{ current_theme_name }}'
# De eigenaar bezit het copyright en de licentie
copyright = '© {{ site_owner }} ({{ license_type }})'

[params]
  description = '{{ theme_params.description }}'
  # De eigenaar is de auteur van de site-inhoud
  author = '{{ site_owner }}'
  # Jij wordt als maker specifiek benoemd
  siteMaker = '{{ site_maker }}'
  showShareButtons = {{ theme_params.show_share_buttons | lower }}
  showReadingTime = {{ theme_params.show_reading_time | lower }}
  
  # Teksten uit de all.yml
  footerText = '{{ footer_text }}'
  licenseText = '{{ license_text }}'
  
  # Formulier-instellingen (Gekoppeld aan de eigenaar)
  contactEndpoint = '{{ contact_endpoint }}'
  contactEmail = '{{ site_owner_email }}'
  privacyText = '{{ privacy_vermelding }}'

# Navigatiemenu
{% for item in main_menu %}
[[menu.main]]
  name = "{{ item.name }}"
  url = "{{ item.url }}"
  weight = {{ item.weight }}
{% endfor %}

# Social Media Icons (GitHub/Facebook van Henry)
{% for link in social_links %}
[[params.socialIcons]]
  name = "{{ link.platform }}"
  url = "{{ link.url }}"
{% endfor %}
